<div class="previewContainer">
	<!-- Below section is for Velocity Template-->
	<div class="velocityTemplate">
		<form class="example-form">
			<mat-form-field class="example-full-width">
				<mat-label>Velocity Template View</mat-label>
				<textarea matInput 
				        placeholder="Velocity Template..."
            			cdkAutosizeMinRows="1"
            			cdkAutosizeMaxRows="30">
				</textarea>
			</mat-form-field>
			<div class="example-button-row">
				<button style="margin-right: 20%;" mat-raised-button>Preview</button>
				<button mat-raised-button disabled>Publish</button>
			</div>
		</form>
	</div>
	<!-- Below section is for HTML View-->
	<div class="htmlTemplate">
         <form class="example-form">
			<mat-form-field class="example-full-width">
				<mat-label>HTML View</mat-label>
				<textarea matInput 
						placeholder="HTML View..."
            			cdkAutosizeMinRows="1"
            			cdkAutosizeMaxRows="30">
				</textarea>
			</mat-form-field>
		</form>
	</div>
</div>
